@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo',sans-serif;
}
body
{
  min-height: 100%;
  width: 100%;
  background: linear-gradient(45deg, rgb(241, 241, 241) 50%, rgb(158, 232, 255) 50%);
}
.main
{
  min-height: 100vh;
  width: 100%;
}
.keebo
{
  font-size: 22px;
  color: rgb(0, 153, 255);
}

.footer
{
  position: relative;
  background-color: black;
  color: white;
  bottom: 0;
  height: 50px;
  padding-top: 15px;
}

.AlertBox
{
  min-height: 90px;
  background-color: transparent;
}
